// float base grid system
// -------------------------------------------------------------
// .row {
//   max-width: $grid-width;
//   margin: 0 auto;
//   background-color: var(--color-grey-dark);

//   [class^='col'] {
//     color: #ffffff;
//     background-color: orangered;
//     float: left;
//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }

//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//   }

//   @include clearfix;

//   .col-1-of-2 {
//     width: calc((100% - #{$gutter-horizontal}) / 2);
//   }

//   .col-1-of-3 {
//     width: calc((100% - #{$gutter-horizontal} * 2) / 3);
//   }

//   .col-2-of-3 {
//     width: calc(
//       (((100% - #{$gutter-horizontal} * 2) / 3) * 2) + #{$gutter-horizontal}
//     );
//   }

//   .col-1-of-4 {
//     width: calc((100% - #{$gutter-horizontal} * 3) / 4);
//   }

//   .col-2-of-4 {
//     width: calc(
//       (((100% - #{$gutter-horizontal} * 3) / 4) * 2) + #{$gutter-horizontal}
//     );
//   }

//   .col-3-of-4 {
//     width: calc(
//       (((100% - #{$gutter-horizontal} * 3) / 4) * 3) + 2 * #{$gutter-horizontal}
//     );
//   }
// }

// flex box based grid system
// .container {
//   color: var(--color-primary);
// }

.row {
  display: flex;
  max-width: $grid-width;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^='col'] {
    flex: 1 0 0;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
