.button {
  border: none;
  padding: 1.7rem 2.7rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2.5rem;
  font-family: $font-family-text;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;

  &--white {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
  &:active {
    transform: translateY(0.5rem);
  }
}
