.list {
  list-style-type: none;

  &__item {
    // padding: 1rem 0;
    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $font-family-text;
    color: var(--color-primary);
    padding: 1.5rem;
    display: inline-block;
    width: 100%;
    background-color: var(--color-white);
    text-transform: uppercase;
    transition: all 0.2s;
  }

  &__link:hover {
    background-color: var(--color-grey-light);
    color: var(--color-primary-light);
  }
}
